block content
  table#table-conversion_metrics.table.text-muted
    thead
      tr
        th.text-center
          .font-weight-bold.cell-inner Products
        th.text-center(colspan="3")
          .cell-top
            .font-weight-bold.text-primary Week 1 2018
            small 08-Apr - 14 Apr
        th.text-center(colspan="3")
          .cell-top
            .font-weight-bold.text-primary Week 2 2018
            small 15-Apr - 21 Apr
        th.text-center(colspan="3")
          .cell-top
            .font-weight-bold.text-primary Week 3 2018
            small 22-Apr - 28 Apr
        th.text-center(colspan="3")
          .cell-top
            .font-weight-bold.text-primary Week 4 2018
            small 29-Apr - 05 May
        th.text-center(colspan="3")
          .cell-top
            .font-weight-bold.text-primary Week 5 2018
            small 06-May - 12 May
        th.text-center(colspan="3")
          .cell-top
            .font-weight-bold.text-primary Week 6 2018
            small 13-May - 19 May
        th.text-center(colspan="3")
          .cell-top
            .font-weight-bold.text-primary Current Week
            small 20-May - 26 May
      tr
        th
          select.custom-select.form-control.form-control-sm.w-50.mx-auto.d-block.text-muted
            option(selected="") SKU
            option(value="1") ASIN
            option(value="2") Model
            option(value="2") Part
        th.text-primary
          span.cell-inner Unique Page Views
        th.text-primary
          span.cell-inner Units Sold
        th.text-primary
          span.cell-inner Conversion in %
        th.text-primary
          span.cell-inner Unique Page Views
        th.text-primary
          span.cell-inner Units Sold
        th.text-primary
          span.cell-inner Conversion in %
        th.text-primary
          span.cell-inner Unique Page Views
        th.text-primary
          span.cell-inner Units Sold
        th.text-primary
          span.cell-inner Conversion in %
        th.text-primary
          span.cell-inner Unique Page Views
        th.text-primary
          span.cell-inner Units Sold
        th.text-primary
          span.cell-inner Conversion in %
        th.text-primary
          span.cell-inner Unique Page Views
        th.text-primary
          span.cell-inner Units Sold
        th.text-primary
          span.cell-inner Conversion in %
        th.text-primary
          span.cell-inner Unique Page Views
        th.text-primary
          span.cell-inner Units Sold
        th.text-primary
          span.cell-inner Conversion in %
        th.text-primary
          span.cell-inner Unique Page Views
        th.text-primary
          span.cell-inner Units Sold
        th.text-primary
          span.cell-inner Conversion in %
      tr.total
        th.text-center TOTAL
        th.text-center 1060
        th.text-center 110
        th.text-center 10
        th.text-center 1101
        th.text-center 123
        th.text-center 10
        th.text-center 990
        th.text-center 100
        th.text-center 10
        th.text-center 1176
        th.text-center 140
        th.text-center 11
        th.text-center 1085
        th.text-center 131
        th.text-center 12
        th.text-center 1146
        th.text-center 137
        th.text-center 12
        th.text-center 1211
        th.text-center 148
        th.text-center 12
    tbody
      tr
        td
          .d-flex.align-items-center.text-primary
            img.border.rounded(src='images/B018E65WW2.jpg' style='width: 42px; height: 42px;')
            .ml-2
              a(href="http://www.amazon.com/dp/B018E65WW2" target="_blank") B018E65WW2
        td 543
        td 62
        td.text-success 11%
        td 575
        td 68
        td.text-success 11%
        td 510
        td 52
        td.text-danger 10%
        td 556
        td 72
        td.text-success 12%
        td 510
        td 69
        td.text-success 13%
        td 526
        td 68
        td.text-danger 12%
        td 569
        td 75
        td.text-success 13%
      tr
        td
          .text-center.d-flex.align-items-center.text-primary
            img.border.rounded(src='images/B01BON4QAQ.jpg' style='width: 42px; height: 42px;')
            .ml-2
              a(href="http://www.amazon.com/dp/B01BON4QAQ" target="_blank") B01BON4QAQ
        td 517
        td 48
        td.text-success 9%
        td 526
        td 55
        td.text-success 10%
        td 480
        td 48
        td.text-danger 10%
        td 620
        td 68
        td.text-success 10%
        td 575
        td 62
        td.text-success 10%
        td 620
        td 69
        td.text-success 11%
        td 642
        td 73
        td.text-success 11%
