block content
  table#table-customers_trends.table.text-muted
    thead
      tr
        th.text-primary(rowspan="2")
          span.cell-inner.font-weight-bold Customers
        th.text-center(colspan="3")
          .cell-top
            .font-weight-bold.text-primary Week 1 2018
            small 08-Apr - 14 Apr
        th.text-center(colspan="3")
          .cell-top
            .font-weight-bold.text-primary Week 2 2018
            small 15-Apr - 21 Apr
        th.text-center(colspan="3")
          .cell-top
            .font-weight-bold.text-primary Week 3 2018
            small 22-Apr - 28 Apr
        th.text-center(colspan="3")
          .cell-top
            .font-weight-bold.text-primary Week 4 2018
            small 29-Apr - 05 May
        th.text-center(colspan="3")
          .cell-top
            .font-weight-bold.text-primary Week 5 2018
            small 06-May - 12 May
        th.text-center(colspan="3")
          .cell-top
            .font-weight-bold.text-primary Week 6 2018
            small 13-May - 19 May
        th.text-center(colspan="3")
          .cell-top
            .font-weight-bold.text-primary Current Week
            small 20-May - 26 May
      tr
        th.text-primary
          span.cell-inner #Customers
        th.text-primary
          span.cell-inner Sales($)
        th.text-primary
          span.cell-inner Units
        th.text-primary
          span.cell-inner #Customers
        th.text-primary
          span.cell-inner Sales($)
        th.text-primary
          span.cell-inner Units
        th.text-primary
          span.cell-inner #Customers
        th.text-primary
          span.cell-inner Sales($)
        th.text-primary
          span.cell-inner Units
        th.text-primary
          span.cell-inner #Customers
        th.text-primary
          span.cell-inner Sales($)
        th.text-primary
          span.cell-inner Units
        th.text-primary
          span.cell-inner #Customers
        th.text-primary
          span.cell-inner Sales($)
        th.text-primary
          span.cell-inner Units
        th.text-primary
          span.cell-inner #Customers
        th.text-primary
          span.cell-inner Sales($)
        th.text-primary
          span.cell-inner Units
        th.text-primary
          span.cell-inner #Customers
        th.text-primary
          span.cell-inner Sales($)
        th.text-primary
          span.cell-inner Units
    tbody
      tr
        td 1 purchases
        td.text-success 52
        td 1644.55
        td 45
        td.text-danger 48
        td 1679.6
        td 40
        td.text-success 49
        td 1928.25
        td 45
        td.text-danger 44
        td 2311.65
        td 55
        td.text-success 46
        td 2199.5
        td 50
        td.text-danger 45
        td 1937.25
        td 45
        td.text-success 49
        td 2111.52
        td 48
      tr
        td 2-4 purchases
        td.text-success 41
        td 1900.6
        td 52
        td.text-success 44
        td 2183.48
        td 52
        td.text-success 46
        td 2399.66
        td 56
        td.text-success 49
        td 2521.08
        td 60
        td.text-success 51
        td 2331.47
        td 53
        td.text-danger 50
        td 1808.1
        td 42
        td.text-success 52
        td 2287.48
        td 52
      tr
        td.text-nowrap 5+ purchases
        td.text-success 23
        td 1498.55
        td 41
        td.text-success 28
        td 1805.57
        td 43
        td.text-success 31
        td 2228.2
        td 52
        td.text-danger 42
        td 2185.56
        td 52
        td.text-success 48
        td 1979.55
        td 45
        td.text-success 50
        td 1506.75
        td 35
        td.text-danger 47
        td 2331.47
        td 53
  h4.mb-0 New Customers (first purchase in trailing 12 months)
  table#table-customers_trends_new.table.text-muted
    thead
      tr
        th(rowspan="2")
          span.cell-inner.font-weight-bold Customers
        th.text-center(colspan="3")
          .cell-top
            .font-weight-bold.text-primary Week 1 2018
            small 08-Apr - 14 Apr
        th.text-center(colspan="3")
          .cell-top
            .font-weight-bold.text-primary Week 2 2018
            small 15-Apr - 21 Apr
        th.text-center(colspan="3")
          .cell-top
            .font-weight-bold.text-primary Week 3 2018
            small 22-Apr - 28 Apr
        th.text-center(colspan="3")
          .cell-top
            .font-weight-bold.text-primary Week 4 2018
            small 29-Apr - 05 May
        th.text-center(colspan="3")
          .cell-top
            .font-weight-bold.text-primary Week 5 2018
            small 06-May - 12 May
        th.text-center(colspan="3")
          .cell-top
            .font-weight-bold.text-primary Week 6 2018
            small 13-May - 19 May
        th.text-center(colspan="3")
          .cell-top
            .font-weight-bold.text-primary Current Week
            small 20-May - 26 May
      tr
        th.text-primary
          span.cell-inner #Customers
        th.text-primary
          span.cell-inner Sales($)
        th.text-primary
          span.cell-inner Units
        th.text-primary
          span.cell-inner #Customers
        th.text-primary
          span.cell-inner Sales($)
        th.text-primary
          span.cell-inner Units
        th.text-primary
          span.cell-inner #Customers
        th.text-primary
          span.cell-inner Sales($)
        th.text-primary
          span.cell-inner Units
        th.text-primary
          span.cell-inner #Customers
        th.text-primary
          span.cell-inner Sales($)
        th.text-primary
          span.cell-inner Units
        th.text-primary
          span.cell-inner #Customers
        th.text-primary
          span.cell-inner Sales($)
        th.text-primary
          span.cell-inner Units
        th.text-primary
          span.cell-inner #Customers
        th.text-primary
          span.cell-inner Sales($)
        th.text-primary
          span.cell-inner Units
        th.text-primary
          span.cell-inner #Customers
        th.text-primary
          span.cell-inner Sales($)
        th.text-primary
          span.cell-inner Units
    tbody
      tr
        td.text-nowrap 1 purchases
        td.text-success 17
        td 548.25
        td 15
        td.text-danger 16
        td 545.87
        td 13
        td.text-danger 16
        td 642.75
        td 15
        td.text-danger 14
        td 756.54
        td 18
        td.text-success 15
        td 703.84
        td 16
        td.text-success 15
        td 645.75
        td 15
        td.text-success 16
        td 703.84
        td 16
      tr
        td.text-nowrap 2-4 purchases
        td.text-success 13
        td 621.35
        td 17
        td.text-success 14
        td 713.83
        td 17
        td.text-success 15
        td 771.3
        td 18
        td.text-success 16
        td 840.06
        td 20
        td.text-success 17
        td 747.83
        td 17
        td.text-danger 16
        td 602.7
        td 14
        td.text-success 17
        td 747.83
        td 17
      tr
        td.text-nowrap 5+ purchases
        td.text-success 7
        td 475.15
        td 13
        td.text-success 9
        td 587.86
        td 14
        td.text-success 10
        td 728.45
        td 17
        td.text-danger 9
        td 714.51
        td 17
        td.text-success 16
        td 659.85
        td 15
        td.text-danger 16
        td 473.55
        td 11
        td.text-danger 15
        td 747.83
        td 17
  h4.mb-0 Repeat Customers (1 purchase in trailing 12 months)
  table#table-customers_trends_repeat.table.text-muted
    thead
      tr
        th(rowspan="2")
          span.cell-inner.font-weight-bold Customers
        th.text-center(colspan="3")
          .cell-top
            .font-weight-bold.text-primary Week 1 2018
            small 08-Apr - 14 Apr
        th.text-center(colspan="3")
          .cell-top
            .font-weight-bold.text-primary Week 2 2018
            small 15-Apr - 21 Apr
        th.text-center(colspan="3")
          .cell-top
            .font-weight-bold.text-primary Week 3 2018
            small 22-Apr - 28 Apr
        th.text-center(colspan="3")
          .cell-top
            .font-weight-bold.text-primary Week 4 2018
            small 29-Apr - 05 May
        th.text-center(colspan="3")
          .cell-top
            .font-weight-bold.text-primary Week 5 2018
            small 06-May - 12 May
        th.text-center(colspan="3")
          .cell-top
            .font-weight-bold.text-primary Week 6 2018
            small 13-May - 19 May
        th.text-center(colspan="3")
          .cell-top
            .font-weight-bold.text-primary Current Week
            small 20-May - 26 May
      tr
        th.text-primary
          span.cell-inner #Customers
        th.text-primary
          span.cell-inner Sales($)
        th.text-primary
          span.cell-inner Units
        th.text-primary
          span.cell-inner #Customers
        th.text-primary
          span.cell-inner Sales($)
        th.text-primary
          span.cell-inner Units
        th.text-primary
          span.cell-inner #Customers
        th.text-primary
          span.cell-inner Sales($)
        th.text-primary
          span.cell-inner Units
        th.text-primary
          span.cell-inner #Customers
        th.text-primary
          span.cell-inner Sales($)
        th.text-primary
          span.cell-inner Units
        th.text-primary
          span.cell-inner #Customers
        th.text-primary
          span.cell-inner Sales($)
        th.text-primary
          span.cell-inner Units
        th.text-primary
          span.cell-inner #Customers
        th.text-primary
          span.cell-inner Sales($)
        th.text-primary
          span.cell-inner Units
        th.text-primary
          span.cell-inner #Customers
        th.text-primary
          span.cell-inner Sales($)
        th.text-primary
          span.cell-inner Units
    tbody
      tr
        td.text-nowrap 1 purchases
        td.text-success 35
        td 1096.5
        td 30
        td.text-danger 32
        td 1133.73
        td 27
        td.text-success 33
        td 1285.5
        td 30
        td.text-danger 28
        td 1555.11
        td 37
        td.text-success 31
        td 1495.66
        td 34
        td.text-danger 30
        td 1291.5
        td 30
        td.text-success 33
        td 1407.68
        td 32
      tr
        td.text-nowrap 2-4 purchases
        td.text-success 28
        td 1297.25
        td 35
        td.text-success 30
        td 1469.65
        td 35
        td.text-success 31
        td 1628.3
        td 38
        td.text-success 33
        td 1681.2
        td 40
        td.text-success 34
        td 1583.64
        td 36
        td.text-success 34
        td 1205.4
        td 28
        td.text-success 35
        td 1539.65
        td 35
      tr
        td.text-nowrap 5+ purchases
        td.text-success 16
        td 1023.4
        td 28
        td.text-success 19
        td 1217.71
        td 29
        td.text-success 21
        td 1499.75
        td 35
        td.text-success 33
        td 1471.05
        td 35
        td.text-success 32
        td 1319.7
        td 30
        td.text-success 34
        td 1033.2
        td 24
        td.text-danger 32
        td 1583.64
        td 36
